@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================================================== */



/* ===================================================================== */

/* Title */

.main_title {
  font-size: 46px;
  line-height: 60px;
  font-weight: 500;
  padding-bottom: 17px;
  padding-top: 17px;
  text-align: center;
}

.sub_titles {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  font-family: Hind,sans-serif;
  color: #252525;
  margin: 2px 0 0;
  padding: 0;
  text-align: center;
}

.page_title {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: Hind,sans-serif;
}

/* Separator */

.hr_divider {
  height: .4vw;
  border-radius: 1vw;
  border: .15vw solid #e0c091;
  background: linear-gradient(90deg,#b8a283 0,#fbf0b9 14%,#8c847b 36%,#ffffab 60%,#8c837a 75%,#faefb9 100%);
  box-sizing: border-box;
  width: 80%;
  margin: 3rem auto;
}

/* Carousel */
.Carousel_Img_Div {
  padding: 1rem;
  display: flex !important;
  justify-content: center;
}

.Carousel_Img_Div img{
  height: 25rem !important;
}

.newRel_Img_Div {
  padding: 1rem;
  display: flex !important;
  justify-content: center;
}

.newRel_Img_Div img{
  height: 25rem !important;
}

.Carousel_Product_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

/* Header */
.header_nav{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 80px;
  align-items: center;
  padding-right: 2rem;
}

.header_nav a {
  margin: 5px
}

/* Footer */

.Footer_Container {
  background-color: black;
  color: white;
  margin-top: 5%;
}

.Footer_Data {
  display: flex;
}

.Footer_App {
  display: flex;
  width: 15%;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.Footer_Form {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  padding-top: 2rem;
}

.Footer_Form form {
  display: flex;
  flex-direction: column;
}

.Footer_Form button {
  background-color: #0000!important;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border: 0.03rem solid #fff;
  border-radius: 0.3rem;
  transition: all .2s;
  height: fit-content;
  padding-inline: 0.5rem;
  width: 5rem;
  align-self: center;
}

.Footer_Form input, textarea {
  color: black;
  padding: 0.5rem;
}

.Footer_Form button:hover {
  color: #252525;
  background-color: #fff!important;
}

.Footer_Form input::placeholder {
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem;
}

.Footer_Form textarea::placeholder {
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem;
}

.Footer_Contact {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 2rem;
  padding-left: 2.5rem;
}

.Footer_Help {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-top: 2rem;
}

.Footer_Networks {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-top: 2rem;
}

.Footer_Social_Icons {
  display: flex;
  display: flex;
  height: 2rem;
  align-items: center;
}

.Help_Language_Country_Container a {
  margin: 5px 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.Help_Language_Country_Container a:hover {
  color: #e0c091;
}

.Footer_Policy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.gold:hover {
  color: #e0c091 !important;
  cursor: pointer;
}

/* Main Menu */

.menu_active {
  color: #e0c091;
  cursor: pointer;
  border-bottom: 3px solid #e0c091;
}

.menu_low_arrow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0px solid #e0c091;
  transition: all 0.5s;
}

.menu_low_arrow:hover {
  border-bottom: 3px solid #e0c091;
}

/* Sub Menu */

.sub_menu {
  display: flex;
  justify-content: center;
  font-family: Hind,sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
}

.sub_menu a{
  margin: 10px;
}

/* Products Cards */

.product_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 20%;
}

.card_image {
  opacity: 1;
  transition: all 0.3s;
}

.card_image:hover {
  opacity: 0;
}

.card_container {
  margin: 10px;
  width: 16rem;
  position: relative;
}

.card_container img {
  width: 300px;
  height: auto;
}

.card_text {
  font-family: Hind,sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 1rem;
  padding-bottom: 0;
  transition: all 0.3s;
}

.card_text:hover {
  color: #e0c091;
  cursor: pointer;
}

.card_information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Carousel */

.Padding {
  padding: 2rem;
  margin: 0 10%;
}

.Carousel_Card {
  padding: 10px;
}

.carousel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Help */

.Help_Accordion_Section {
  display: flex;
}

.Help_Accordion_Container {
  width: 50%;
  padding-left: 2rem;
}

.Help_Accordion_Container h2{
  text-align: center;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.7rem;
}

.Help_Accordion_Image {
  width: 50%;
  margin: 2rem;
  margin-top: 0;
  height: 40rem;
}

.Help_Information_Container {
  margin-top: 3rem;
  display: flex;
}

.Help_SideBar {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-end;
  font-size: 12px;
  padding-right: 10px;
}

.Help_Active_Button {
  background-color: black;
  color: white;
  border-right: 0.5rem solid #e0c091 !important;
}

.Help_SideBar button {
  width: 90%;
  height: 2rem;
  border-right: 2px solid #949494;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  padding-right: 0.8rem;
}

.Help_SideBar button:hover {
  color: #e0c091;
}

.Help_Body_Container {
  width: 70%;
  text-align: justify;
}

/* Products */

.Product_Main_Div {
  margin: 0 10%;
}

.Product_Information_Container {
  display: flex;
  justify-content: center;
}

.Product_Information_Image {
  width: 35%;
  padding-top: 5rem;
}

.Product_Information_Data {
  display: flex;
  flex-direction: column;
  padding-top: 5rem !important;
  width: 50%;
  padding: 2rem;
}

.Product_Information_Data span {
  margin: 1rem 0;
}

.Product_Options_Container {
  display: flex;
  flex-direction: column;
}

.Product_Options_Container span {
  margin: 0.5rem 0;
}

.Product_Options_Values button {
  margin: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 12px;
  text-align: center;
  color: black;
  border: 3px solid black;
  background-color: white;
  font-size: 12px;
}

.Product_Options_Values button:hover {
  background-color: black;
  color: white;
}

.Product_Buy_Div {
  display: flex;
  margin: 2rem 0;
}

.Product_Buy_Qty_Div {
  display: flex;
}

.Product_Buy_Qty_Div button, .Product_Buy_Qty_Div span {
  width: 3rem;
  height: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 50px;
}

.Product_Active_Option {
  background-color: black !important;
  color: white !important;
}

.Product_Buy_Button {
  display: flex;
  padding-left: 2rem;
}

.Product_Buy_Button button {
  border: 1px solid black;
  font-size: 14px;
  height: 50px;
  cursor: pointer;
  background: #252525;
  font-family: Hind,sans-serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: .03em;
  position: relative;
  outline: none;
  padding: 6px 31px 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.Product_Buy_Button button:hover {
  background: #ffffff;
  color: #252525;
  outline: none;
}

.Product_Social_Div {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  background: lightgray;
}

.Product_Social_Div img {
  margin: 0 0.2rem;
}

/* Product Modal */

.Product_Modal_Main_Div {
  display: flex;
}

.Product_Modal_Left_Div {
  margin-right: 2rem;
  width: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Product_Modal_Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Product_Modal_Right_Div {
  margin-left: 2rem;
  width: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Product_Modal_Cart_Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Product_Modal_Buttons_Div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Product_Modal_Buttons {
  background: #252525 !important;
  color: #fff !important;
  border: 2px solid #252525 !important;
  margin: 1rem 0 !important;
}

.Product_Modal_Buttons:hover {
  background: #ffffff !important;
  color: #252525 !important;
}

/* Product - Sizechart */

.sizechart_main {
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .03vw;
  color: #fff;
  background-color: black;
  padding: 0.4rem 1rem;
  text-align: center;
  box-shadow: 0 0 #000000bf;
  transition: all .2s;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 3px;
  margin: 2rem 0rem 0.5rem 0rem;
}

.sizechart_main:hover {
  color: black;
  background-color: #fff;
  box-shadow: 0 0 9px -2px #000000bf;
}

.sizechart_Button {
  transition: 0.5s all;
  margin: 0px 0.2rem;
  color: white;
  background: rgb(37, 37, 37);
  width: 4rem;
  height: 2.2rem;
  border-radius: 3px;
}

.sizechart_Button:hover {
  background-color: white !important;
  color: black !important;
}

.sizechart_Button_active {
  background-color: white !important;
  color: black !important;
}

/* Product - Assistance Button */

.Assistance_Main_Div {
  border-bottom: 1px solid black; 
  width: 50%;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.5s;
  text-align: center;
  padding: 5px;
}

.Assistance_Main_Div:hover {
  background-color: black;
  color: white;
  border-bottom: 5px solid #e0c091;
  box-shadow: 0 0 14px -2px #000000bf;
}

.Calculator_title {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px; 
  letter-spacing: 0px; 
  text-transform: uppercase; 
  font-family: Hind,sans-serif; 
  margin-top: 19px; 
  margin-bottom: 1rem;
}

.Calculator_subtitle {
  font-size: 30px; 
  line-height: 40px; 
  letter-spacing: 0px; 
  font-weight: 700; 
  margin-top: 19px;
}

.Calculator_Video_Div {
  margin-top: 2rem; 
  display: flex; 
  width: 20rem; 
  border: 1px solid black; 
  justify-content: space-between;
}

.Calculator_Video_Text {
  display: flex; 
  width: 100%; 
  justify-content: center; 
  align-items: center
}

.Calculator_Video_Img {
  width: 3rem; 
  background-color: black; 
  padding: 0.5rem;
}

.Calculator_Measure_Data_Div {
  display: flex; 
  flex-direction: column; 
  margin-left: 1rem;
}

.Calculator_Measure_Data_Label {
  margin-bottom: 8px; 
  line-height: 22px; 
  font-size: 1.3rem;
}

.Calculator_Measure_Data_Input {
  background-color: lightgray; 
  height: 2rem; 
  width: 80%; 
  text-align: center; 
  padding-left: 20px;
  font-size: 1.3rem;
}

/* Product - Calculator */

.Calculator_Main_Div {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: 1rem;
}

/* About Us */

.AboutUs_Title {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 46px;
  line-height: 60px;
  font-weight: 500;
}

.AboutUs_Main_Img_Information {
  display: flex;
  margin: 5rem 0;
}

.AboutUs_Main_Img {
  width: 50%;
  margin-left: 3rem;
}

.AboutUs_Main_Information {
  display: flex;
  width: 50%;
  align-items: center;
  padding-left: 5rem;
  text-align: justify;
}

.AboutUs_Main_Information span {
  width: 70%;
}

/* AboutUs Cards */

.AboutUs_Cards_Container {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.AboutUs_card-wrap {
  height: 600px;
  border-radius: 10px;
  box-shadow: 8px 12px 26px -7px #00000091;
  transform: scale(.9);
  margin-top: 95px;
  width: 30rem;
}

.AboutUs_card-header {
  text-align: center;
  font-size: 1.2rem;
}

.AboutUs_mask-header {
  width: 145px;
  height: 25%;
  background: #ffffff;
  position: absolute;
  top: -73px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(10% 0,90% 0,100% 50%,0 50%);
  clip-path: polygon(10% 0,90% 0,100% 50%,0 50%);
  border-radius: 50%;
}

.AboutUs_card-header img {
  position: absolute;
  width: 5rem;
  top: 4%;
  left: 50%;
  transform: translate(-50%,-100%);
}

.AboutUs_card-header h3 {
  padding-top: 5.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 2rem;
}

.AboutUs_card-content {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%);
  max-height: 400px;
  text-align: center;
  width: 75%;
  text-align: left;
  height: 100%;
  overflow-y: auto;
}

.AboutUs_text-scroll {
  padding-right: 0.6rem;
  font-size: 1rem;
  text-align: justify;
}

/* Contact */

.Contact_inputs_placeholder::placeholder {
  color: black;
}

.Contact_Form_Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.Contact_Form_Input_TextArea {
  display: flex;
}

.Contact_Form_Main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Contact_Form_Input_Div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.Contact_Form_Input_Div input {
  height: 20%;
}

.Contact_Form_TextArea_Div {
  width: 50%;
  padding-left: 1rem;
}

.Contact_Form_TextArea_Div textarea {
  width: 95%;
  height: 100%;
}

.Contact_Form_Buttons_Div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.Contact_Form_Buttons_Div button {
  padding: 0.5vh 0;
  margin: 0 0.5rem;
  width: 20%;
  cursor: pointer!important;
  font-weight: 500;
  letter-spacing: .03vw;
  color: #fff;
  background-color: black;
  text-align: center;
  box-shadow: 0 0 #000000bf;
  transition: all .2s;
  text-transform: uppercase;
  font-size: .9rem;
  font-family: Hind,sans-serif;
  width: 25%;
}

.Contact_Form_Buttons_Div button:hover {
  color: black;
  background-color: #fff!important;
  box-shadow: 0 0 9px -2px #000000bf;
}

.Contact_Cards_Wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.Contact_Cards_Main_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_Cards_Title {
  font-size: 1.6rem;
  font-family: Montserrat,sans-serif;
  color: var(--main-dark-color);
  text-transform: capitalize;
  font-weight: 700;
}

.Contact_Cards_Text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Influencers */

.influencers_title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.influencers_title {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Hind,sans-serif;
  margin-top: 2rem;
}

.influencers_subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  font-family: Hind,sans-serif;
}

.influencers_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.influencers_card_main_Div {
  padding: 15px;
  cursor: pointer;
  font-size: 16px!important;
  font-weight: 300;
  line-height: 22px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  margin: 2rem 1rem;
  transition: all 1s;
  height: 30rem;
}

.influencers_card_main_Div:hover {
  box-shadow: 0 0 18px -5px #000000bf;
}

.influencers_card_main_Div div {
  width: 25rem !important;
  height: 89% !important;
}

.influencers_card_main_Div img {
  width: 25rem;
}

.influencers_card_main_Div h2 {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0px;
}

.influencers_Pagination_Div {
  display: flex;
  justify-content: center;
  margin-top: 2rem
}

.Influencer_Slider_item {
  height: 40rem;
  margin: auto;
  padding-top: 2rem;
}

/* Boutiques */

.Boutique_Title {
  text-align: center;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  font-size: 3rem;
  padding-top: 3rem;
  font-family: Hind,sans-serif;
}

.boutique_Subtitle_Div {
  font-weight: 600;
  letter-spacing: .03vw;
  color: #fff;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 2%;
}

.Boutique_Subtitle {
  font-size: 2.3rem;
}

.Boutiques_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Boutiques_cards_container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 30%);
  transition: all 1s;
  width: 27rem;
}

.Boutiques_cards_container:hover {
  box-shadow: 0 0 18px -5px #000000bf;
}

.Boutiques_cards_Title {
  background-color: black;
  width: 100%;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.Boutique_Modal_Main_Div {
  display: flex;
}

.Boutique_Modal_Slider_Div {
  width: 45rem;
}

.Boutique_Modal_Information_Div {
  display: flex;
}

.Boutique_Modal_Information_Div_Img {
  width: 25px;
}

.Boutique_Modal_City_Owner {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.Boutique_Modal_City_Owner h2 {
  text-transform: uppercase;
  font-weight: 500!important;
  font-family: Hind,sans-serif;
  font-size: 1.9rem;
}

.Boutique_Modal_City_Owner h3 {
  font-size: 1.3rem;
  font-weight: 500!important;
  font-family: Hind,sans-serif;
}

.Boutique_Modal_Instagram_Div {
  height: 4rem;
  display: flex;
  color: white;
  background-color: black;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Boutique_Modal_Location_Div {
  width: 50rem;
  height: 45rem;
  margin-left: 3rem;
}

/* Banner */

.Banner_Div {

}

.Banner_Div video {
  
}

/* Bundle Childs */

.Bundle_Img_Div {
  width: 10rem;
}

/* Home */

.Home_Product_Title {
  font-family: Hind,sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-top: 0;
  font-weight: 400;
}

.Home_Product_Title:hover {
  color: #e0c091;
}

.Home_White_Button {
  border: 3px solid black;

}

.Home_White_Button button {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0em;
  transition: 0.3s all;
  padding: 0.2rem 2rem;
}

.Home_White_Button:hover button {
  color: #e0c091;
}

.tags_div {
  left: 5px;
  display: flex;
  position: absolute;
  top: 5px;
}

.tag_new {
  color: #252525;
  background: #e0c091;
  border-radius: 2px;
  padding: 1.5px;
}

.tag_preventa {
  color: white;
  background-color: pink;
  border-radius: 2px;
  padding: 1.5px;
}

.tag_restock {
  color: black;
  background-color: white;
  border-radius: 2px;
  padding: 1.5px;
}

.tag_soldout {
  color: white;
  background-color: black;
  border-radius: 2px;
  padding: 1.5px;
}

.Home_Anchoar_Title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0em;
  font-family: Hind,sans-serif;
  text-align: center;
  transition: color .2s linear;
}

.Home_Anchoar_Title:hover {
  color: #e0c091;
}

.Home_Subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  font-family: Hind,sans-serif;
  color: #252525;
  margin: 2px 0 0;
  padding: 0;
  text-align: center;
}

.Home_Buttons button {
  width: 10rem;
  margin: 1rem 1rem;
  border: 1px solid black;
  height: 3rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
}

.Home_Buttons button:hover {
  background-color: white;
  color: black;
}

.Home_Collection_Card_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_Collection_Card_Div img {
  height: 35rem; 
  width: 30rem; 
  box-shadow: 0 0 14px -2px #000000bf;
}

.Home_Titles_Main_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_History_Main_Div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_History_Information_Div {
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin: 1rem 3rem;
}

.Home_History_Information_Div p {
  text-align: justify;
  font-size: 1.5rem;
  margin: 1rem 1rem;
}

.Home_History_Information_Div h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 1rem;
}

.Home_History_Information_Div button {
  align-self: self-start;
  margin: 1rem 1rem;
  border: 1px solid black;
  width: 10rem;
  height: 3rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
}

.Home_History_Information_Div button:hover {
  background-color: white;
  color: black;
}

/* Language Dropdown */

.LngDropDown_Main{
  position: absolute; 
  top: 3.4rem; 
  color: black; 
  right: 0;
  background-color: white;
  height: 0rem;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Dropdown_Active{
  height: 5rem !important;
  width: 10rem;
}

.Dropdown_Active div{
  display: flex !important;
}

/* How to Measure Yourself */

.Measure_Wrapped {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.Measure_Card_Main_Div {
  width: 25rem;
  margin: 1rem;
  height: 20rem;
  cursor: pointer;
}

.Measure_Card_Main_Div:hover {
  box-shadow: 0 0 12px #0000001f;
}

.Measure_Card_Main_Div img {
  box-shadow: 0 0 18px -5px #000000bf;
}

.Measure_Img_Div{
  padding: 1rem;
  position: relative;
}

.Measure_Card_Main_Div h2{
  text-align: center;
  margin: 1rem;
  font-family: Hind,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 22px;
}

.Measure_Card_Time {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: white;
  background: #00000085;
  border-radius: 15px;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 600;
}

/* Media And Press */

.Media_Articles_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Media_Article_Main_Div {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.Media_Article_img {
  width: 30rem;
}

.Media_Article_img img {
  box-shadow: 0 0 14px -5px #000000bf;
}

.Media_Article_Information {
  width: 40rem;
  padding-left: 3rem;
}

.Media_Article_Title {
  letter-spacing: 0.05rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.Media_Article_Button {
  color: #fff;
  letter-spacing: .05rem;
  background: black;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.5% 3%;
  margin-top: 1rem;
}

.Media_Article_Button:hover {
  color: #000;
  background: white;
  border: 1px solid black;
}

/* Carousel */

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: inherit;
  left: 2rem;
  z-index: 2;
  transform: scale(2.5);
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  right: 2rem;
  z-index: 2;
  transform: scale(2.5);
}

/* Global Modal */

.GlobalModal_Buttons_Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.GlobalModal_Buttons {
  background: black;
  color: white;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.5s;
}

.GlobalModal_Buttons:hover {
  color: black;
  background: white;
}

/* Garment */

.GarmentCardShadow {
  transition: 0.5s all;
}

.GarmentCardShadow:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}

/* Whats App Widget */

.whatsapp_widget_main_div {
  background-color: grey;
  top: 80%;
  display: flex;
  flex-direction: column;
  position: fixed!important;
  z-index: 1000;
  right: 0px;
  bottom: 92.7px;
  width: 55px;
  height: 110px;
  padding: 0 0 0 13px;
  overflow: hidden;
  border-radius: 15px 0 0 15px;
  box-shadow: -1px 3px 13px -3px #000;
  transition: all .2s;
  justify-content: space-evenly;
}

/* Let me Know when its available Widget */

.LetMeKnow_Widget_Main_Div {
  transform: rotate(270deg);
  right: 0;
  position: fixed;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #999;
  font-family: Hind,sans-serif;
  white-space: nowrap;
  z-index: 100;
  top: 100px;
  -webkit-transform-origin: 100% 100%;
}

.LetMeKnow_Text_Div {
  background: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  padding: 0.7em 1.3em;
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
}

.LetMeKnow_Input {
  font-size: 14px;
  line-height: 1.42857143;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  border-radius: 5px;
  border-color: #000000;
  border-width: 2px;
  height: 3rem;
}

.LetMeKnow_Input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}